.padreIndex {
  background-color: black;
  display: flex;
  flex-direction: column; }
  .padreIndex .carouselIndex .carousel-caption {
    background-color: black;
    opacity: 0.7;
    border-radius: 30px; }
  .padreIndex .carouselIndex img {
    height: 95vh; }
  .padreIndex .carouselIndex h5 {
    color: palevioletred; }
  .padreIndex #tituloIndex {
    margin-bottom: 20px;
    margin-top: 10vh;
    width: 100%; }
    .padreIndex #tituloIndex h1 {
      color: palevioletred; }
  .padreIndex .cajasIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 60px 0px 130px 0px; }
  .padreIndex .primerSeccion {
    background: linear-gradient(to top, black, #363636);
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    border-radius: 30px;
    border: black;
    margin-bottom: 70px; }
    .padreIndex .primerSeccion h2 {
      color: palevioletred;
      margin-bottom: 30px;
      padding: 2px; }
    .padreIndex .primerSeccion ul {
      padding: 0; }
  .padreIndex .segundaSeccion {
    background: linear-gradient(to top, black, #363636);
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    border-radius: 30px;
    border: black;
    margin-bottom: 70px; }
    .padreIndex .segundaSeccion h2 {
      color: palevioletred;
      margin-bottom: 30px;
      padding: 2px; }
    .padreIndex .segundaSeccion ul {
      padding: 0; }
  .padreIndex .terceraSeccion {
    background: linear-gradient(to top, black, #363636);
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    border-radius: 30px;
    border: black;
    margin-bottom: 70px; }
    .padreIndex .terceraSeccion h2 {
      color: palevioletred;
      margin-bottom: 30px;
      padding: 2px; }
    .padreIndex .terceraSeccion ul {
      padding: 0; }

.gridPadreRanking {
  background-color: black; }
  .gridPadreRanking .rangos {
    grid-area: rangos;
    width: 100%;
    height: max-content; }
    .gridPadreRanking .rangos h1 {
      color: palevioletred;
      margin-bottom: 60px; }
    .gridPadreRanking .rangos img {
      border: palevioletred 6px solid;
      border-radius: 30px; }
  .gridPadreRanking .jugadores, .gridPadreRanking .equipos {
    grid-area: jugadores;
    margin: 50px 30px 130px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    border-radius: 30px;
    background-image: linear-gradient(to top, black, #363636);
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: initial; }
    .gridPadreRanking .jugadores a, .gridPadreRanking .equipos a {
      color: palevioletred;
      font-size: 20px; }
    .gridPadreRanking .jugadores a:hover, .gridPadreRanking .equipos a:hover {
      color: white; }
  .gridPadreRanking .equipos {
    grid-area: equipos;
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: initial; }

.padreVideos {
  background-image: linear-gradient(to bottom, black, #363636); }
  .padreVideos h1 {
    color: palevioletred;
    margin-top: 20vh;
    margin-bottom: 100px; }
  .padreVideos .contenedorVideos {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10vh 30px 130px 30px; }
    .padreVideos .contenedorVideos h2 {
      color: palevioletred;
      font-size: 1.5rem; }
    .padreVideos .contenedorVideos h3 {
      font-size: 1rem; }
    .padreVideos .contenedorVideos .videoOficial {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 150px; }
      .padreVideos .contenedorVideos .videoOficial .tituloVideoOf {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 30px; }
    .padreVideos .contenedorVideos .videoFans {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 130px; }
      .padreVideos .contenedorVideos .videoFans .tituloVideoF {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 30px; }
      .padreVideos .contenedorVideos .videoFans .playF {
        border: #e44444 5px solid;
        padding: 0; }

.padreImagenes {
  background-image: linear-gradient(to bottom, black, #363636); }
  .padreImagenes h1 {
    color: palevioletred;
    margin-top: 15vh;
    margin-bottom: 30px; }
  .padreImagenes .contenedorImagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 30px 30px 130px 30px; }
    .padreImagenes .contenedorImagenes img:hover {
      width: 20rem; }
    .padreImagenes .contenedorImagenes .card {
      margin: 20px;
      background-color: #ffccf7;
      color: black;
      font-weight: bold; }
    .padreImagenes .contenedorImagenes .card:hover {
      overflow: hidden; }
    .padreImagenes .contenedorImagenes .card-img-top {
      height: 600px; }

.iconos {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 20vh 20px 0 20px; }
  .iconos button {
    margin-right: 20px;
    margin-left: 20px;
    background-color: palevioletred;
    padding: 3px;
    border-radius: 5px; }

.padreMercado {
  background-image: linear-gradient(to bottom, black, #363636);
  color: whitesmoke; }
  .padreMercado .tituloMercado {
    margin-top: 5vh; }
    .padreMercado .tituloMercado h1 {
      color: palevioletred; }
    .padreMercado .tituloMercado h2 {
      margin-top: 30px; }
  .padreMercado .contenedorProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 60px 120px 60px; }
    .padreMercado .contenedorProductos .card {
      margin: 60px;
      background-color: palevioletred;
      border: 3px solid palevioletred; }
      .padreMercado .contenedorProductos .card .btn {
        background-color: black;
        border: black; }
      .padreMercado .contenedorProductos .card .btn:hover {
        border: black; }

.padreContacto {
  background-image: linear-gradient(to bottom, black, #363636);
  color: whitesmoke; }
  .padreContacto .redes {
    grid-area: redes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 70px; }
    .padreContacto .redes h1 {
      margin-bottom: 10px; }
    .padreContacto .redes ul {
      padding-left: 0; }
      .padreContacto .redes ul li {
        margin: 10px; }
    .padreContacto .redes a {
      color: palevioletred; }
    .padreContacto .redes a:hover {
      font-size: 20px;
      color: #bebebe; }
  .padreContacto .formulario {
    margin-top: 50px;
    margin-bottom: 200px;
    padding: 40px; }
    .padreContacto .formulario .tituloForm {
      margin-top: 15px;
      margin-bottom: 35px; }
    .padreContacto .formulario .btn {
      background-color: palevioletred;
      margin: 40px 3px 3px 3px;
      color: white; }

* {
  margin: 0;
  padding: 0;
  list-style-type: none; }

body {
  text-align: center; }
  body a {
    text-decoration: none;
    color: black; }
  body header .navbar {
    padding-left: 20px;
    padding-right: 20px;
    height: 10vh; }
  body header .botonHamburguesa {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  body header .nav-link {
    color: palevioletred; }
  body h1 {
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: initial;
    font-weight: bolder; }
  body h2 {
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: initial;
    font-weight: bold; }
  body h3 {
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: initial;
    font-weight: lighter; }
  body h5 {
    font-weight: bolder; }
  body footer {
    background-color: black;
    color: white;
    font-size: 13px;
    grid-area: footer;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }

@keyframes texto {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@media (min-width: 350px) {
  .padreIndex .carouselIndex img {
    height: 70vh; }
  .gridPadreRanking {
    display: grid;
    grid-template-areas: "header header" "rangos rangos" "jugadores jugadores" "equipos equipos" "footer footer"; }
    .gridPadreRanking .rangos {
      margin-top: 20vh;
      margin-bottom: 60px; }
    .gridPadreRanking .jugadores, .gridPadreRanking .equipos {
      margin-bottom: 30px; }
    .gridPadreRanking .equipos {
      margin-bottom: 130px; } }

@media (min-width: 768px) {
  .padreIndex .carouselIndex img {
    height: 95vh; }
  .gridPadreRanking {
    display: grid;
    grid-template-areas: "header header" "nav nav" "rangos rangos" "jugadores equipos" "footer footer"; }
    .gridPadreRanking .rangos {
      margin-top: 20vh;
      margin-bottom: 60px; } }
