.gridPadreIndex {
  background-color: black; }
  .gridPadreIndex .carouselIndex {
    grid-area: carousel; }
  .gridPadreIndex .primerSeccion {
    background: linear-gradient(to top, black, #363636);
    grid-area: seccionA;
    color: white;
    align-items: center;
    justify-content: center;
    border: black 1px solid; }
    .gridPadreIndex .primerSeccion h2 {
      margin: 2px;
      padding: 2px; }
  .gridPadreIndex .segundaSeccion {
    background: linear-gradient(to top, black, #363636);
    grid-area: seccionB;
    color: white;
    align-items: center;
    justify-content: center;
    border: black 1px solid; }
    .gridPadreIndex .segundaSeccion h2 {
      margin: 2px;
      padding: 2px; }
  .gridPadreIndex .terceraSeccion {
    background: linear-gradient(to top, black, #363636);
    grid-area: seccionC;
    color: white;
    align-items: center;
    justify-content: center;
    border: black 1px solid; }
    .gridPadreIndex .terceraSeccion h2 {
      margin: 2px;
      padding: 2px; }

.gridPadreRanking {
  background-color: black;
  display: grid; }
  .gridPadreRanking .rangos {
    grid-area: rangos;
    width: 100%;
    height: 90vh; }
    .gridPadreRanking .rangos h1 {
      color: palevioletred;
      margin-bottom: 30px; }
  .gridPadreRanking .jugadores, .gridPadreRanking .equipos {
    grid-area: jugadores;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-image: linear-gradient(to top, black, #363636);
    margin-bottom: 10px; }
    .gridPadreRanking .jugadores a, .gridPadreRanking .equipos a {
      color: palevioletred;
      font-size: 20px; }
  .gridPadreRanking .equipos {
    grid-area: equipos; }

.gridPadreGaleria {
  background-image: linear-gradient(to bottom, black, #363636); }
  .gridPadreGaleria .carouselGaleria {
    height: 80vh;
    width: 100%; }

.videos {
  grid-area: videos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, black, #363636);
  height: 500px;
  width: 100%; }

.bodyImagenes {
  background-image: linear-gradient(to bottom, black, #363636); }
  .bodyImagenes h1 {
    color: palevioletred;
    margin-top: 15vh;
    margin-bottom: 30px; }
  .bodyImagenes .contenedorImagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 30px; }
    .bodyImagenes .contenedorImagenes .card {
      margin: 20px;
      background-color: #ffccf7;
      color: black;
      font-weight: bold; }
    .bodyImagenes .contenedorImagenes .card-img-top {
      height: 600px; }

.gridPadreContacto {
  background-image: linear-gradient(to bottom, black, #363636);
  color: whitesmoke; }
  .gridPadreContacto .redes {
    grid-area: redes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px; }
    .gridPadreContacto .redes ul {
      padding-left: 0; }
    .gridPadreContacto .redes a {
      color: palevioletred; }
  .gridPadreContacto .formulario {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px; }
    .gridPadreContacto .formulario .tituloForm {
      margin-top: 15px;
      margin-bottom: 35px; }
    .gridPadreContacto .formulario .btn-color {
      background-color: palevioletred; }

* {
  margin: 0;
  padding: 0;
  list-style-type: none; }

body {
  text-align: center; }

a {
  text-decoration: none;
  color: black; }

header {
  height: 10vh;
  width: 100vh; }

@keyframes texto {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

h2 {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: initial; }

footer {
  background-color: black;
  color: white;
  font-size: 13px;
  grid-area: footer;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 350px) {
  .gridPadreIndex {
    display: grid;
    grid-template-areas: "carousel" "seccionA" "seccionB" "seccionC" "footer"; }
    .gridPadreIndex .carouselIndex {
      margin-top: 60px;
      height: 60vh; }
  .gridPadreRanking {
    display: grid;
    grid-template-areas: "header header" "rangos rangos" "jugadores jugadores" "equipos equipos" "footer footer";
    gap: 20px; }
  .gridPadreGaleria {
    display: grid;
    grid-template-areas: "header header" "menuGaleria menuGaleria" "videos videos" "imagenes imagenes" "footer footer";
    gap: 20px; } }

@media (min-width: 768px) {
  .gridPadreIndex {
    display: grid;
    grid-template-areas: "header header" "carousel carousel" "seccionA seccionB  seccionC seccionC" "footer footer"; }
    .gridPadreIndex .carouselIndex {
      margin-top: 60px; }
  .gridPadreRanking {
    display: grid;
    grid-template-areas: "header header" "nav nav" "rangos rangos" "jugadores equipos" "footer footer";
    gap: 50px; }
    .gridPadreRanking .rangos {
      margin-top: 1px; }
  .gridPadreGaleria {
    display: grid;
    grid-template-areas: "header header" "nav nav" "menuGaleria menuGaleria" "videos imagenes" "footer footer";
    gap: 20px; } }

@media (min-width: 1000px) {
  .gridPadreIndex {
    display: grid;
    grid-template-areas: "header header header" "carousel carousel carousel" "seccionA seccionB seccionC" "footer footer footer"; }
    .gridPadreIndex .carouselIndex {
      margin-top: 0px; }
  .gridPadreRanking {
    display: grid;
    grid-template-areas: "header header" "nav nav" "rangos rangos" "jugadores equipos" "footer footer";
    gap: 50px; }
    .gridPadreRanking .rangos {
      margin-top: 1px; }
  .gridPadreGaleria {
    display: grid;
    grid-template-areas: "header header" "nav nav" "menuGaleria menuGaleria" "videos imagenes" "footer footer";
    gap: 20px; } }
