.gridPadreGaleria{
    background-color: black;
    .carouselGaleria{
    height: 80vh;
    width: 100%;
}

.videos{
    grid-area: videos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, rgb(0, 0, 0), #363636);
    height: 500px;
    width: 100%;
}

.imagenes{
    grid-area: imagenes;
    background-image: linear-gradient(to right, rgb(0, 0, 0), #363636);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;
}
}