.menuGaleria{
    background-image: url(../img/galeria.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    grid-area: menuGaleria;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 2rem;
    height: 80vh;
    width: 100%;
}

.videos{
    grid-area: videos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $cajas-galeria;
    border: #896065 1px solid;
    height: 500px;
    width: 100%;
}

.imagenes{
    grid-area: imagenes;
    background: $cajas-galeria;
    border: #896065 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;
}