.carouselGaleria{
    height: 80vh;
    width: 100%;
}

.videos{
    grid-area: videos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $cajas-galeria;
    border: #896065 1px solid;
    height: 500px;
    width: 100%;
}

.imagenes{
    grid-area: imagenes;
    background: $cajas-galeria;
    border: #896065 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;
}