.gridPadreMercado {
  background-color: black;
  h1{
    color: whitesmoke;
    margin-bottom: 20px
  };
  .partesMercado {
    display: flex;
    margin-top: 20vh;
    margin-bottom: 20vh;
    justify-content: center;
    h2{
      color:rgb(255, 74, 144);
    }
  }

  .tecnologia {
    height: 300px;
    width: max-content;
    background: $cajas-mercado;
  }

  .indumentaria {
    @extend .tecnologia;
  }

  .utensillos {
    @extend .tecnologia;
  }
}
