.tecnologia{
    border: #896065 1px solid;
    background: $cajas-mercado;
    height: 200px;
}

.indumentaria{
    border: #896065 1px solid;
    background: $cajas-mercado;
    height: 200px;
    
}

.utensillos{
    background: $cajas-mercado;
    border: #896065 1px solid;
    height: 200px;
}

.partesMercado{
    display: flex;
    margin-top: 30vh;
    margin-bottom: 20vh;
    justify-content: center;
}
