.iconos{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 20vh 20px 0 20px;
    button{
        margin-right: 20px;
        margin-left: 20px;
        background-color: palevioletred;
        padding: 3px;
        border-radius: 5px;
    }

    

}

.padreMercado {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), #363636);
    color: whitesmoke;
    .tituloMercado{
        margin-top: 5vh;
        h1{
            color: palevioletred;
        }
        h2{
            margin-top: 30px;
        }

    }
    .contenedorProductos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 100px 60px 120px 60px;
        .card{
            margin: 60px;
            background-color: palevioletred;
            border: 3px solid palevioletred;
            .btn{
                background-color: black;
                border: black;
            }
            .btn:hover{
                border: black;
            }
        }
    }
}  