.gridPadreRanking {
  background-color: black;
  display: grid;
  h1{
    color: whitesmoke;
    margin-top: 30px;
  }
  
  .rangos {
    grid-area: rangos;
    width: 100%;
    height: fit-content;
    h1 {
      color: whitesmoke;
      margin-bottom: 30px;
    }
  }

  .jugadores {
    grid-area: jugadores;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgb(0, 0, 0), #363636);
    a {
        color: rgb(255, 74, 144);
        font-size: 20px;
    }
  }

  .equipos {
    grid-area: equipos;
    @extend .jugadores;
  }
}
