.gridPadreRanking {
  background-color: black;
  display: grid;
  
  .rangos {
    grid-area: rangos;
    width: 100%;
    height: 90vh;
    h1 {
      color: palevioletred;
      margin-bottom: 30px;
    }
  }

  .jugadores {
    grid-area: jugadores;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0), #363636);
    margin-bottom: 10px;
    a {
        color: palevioletred;
        font-size: 20px;
    }
  }

  .equipos {
    grid-area: equipos;
    @extend .jugadores;
  }
}
