.contenidoRanking{
    background-image: url("../img/77fb54c2f3f5901c69b8082111873af7.jpg");
}

.rangos{
    grid-area: rangos;
    width: 100%;
    height: fit-content;
    margin-top: 10%;
}

.jugadores{
    grid-area: jugadores;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $cajas-ranking;
    height: 200px;
    width: 100%;
}

.equipos{
    grid-area: equipos;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $cajas-ranking;
    height: 200px;
    width: 100%;
}