$cajas-portada: linear-gradient(to top, rgb(0, 0, 0), #363636);
$cajas-galeria: linear-gradient(to left, bisque, #97b3ff);
$cajas-mercado: linear-gradient(to top, rgb(0, 0, 0), #363636);
$cajas-contacto: linear-gradient(to top, rgb(0, 0, 0), #363636);

//MIXIN
@mixin cajasIndex{
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    border-radius: 30px;
    border: black;

    h2{
        color: palevioletred;
        margin-bottom: 30px;
        padding: 2px;
    }
    ul{
        padding: 0;
    }
}