.gridPadreGaleria{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), #363636);
    .carouselGaleria{
    height: 80vh;
    width: 100%;
}
}

.videos{
    grid-area: videos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, rgb(0, 0, 0), #363636);
    height: 500px;
    width: 100%;
}