@import "variables";
@import "index";
@import "ranking";
@import "galeria";
@import "mercado";
@import "contacto";

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

@keyframes texto {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

h2 {
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: initial;
}
    
footer {
    background-color: black;
    color: white;
    font-size: 13px;
    grid-area: footer;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 368px) {

    .gridPadreIndex {
        display: grid;
        grid-template-areas: 
        "header header"
        "portada portada"
        "seccionA seccionA"
        "seccionB seccionB"
        "seccionC seccionC"
        "footer footer"
        ;
        gap: 20px;
    }

    .gridPadreRanking{
        display: grid;
        grid-template-areas: 
        "header header"
        "rangos rangos"
        "jugadores jugadores"
        "equipos equipos"
        "footer footer";
        gap: 20px;
    }
    
    .gridPadreGaleria{
        display: grid;
        grid-template-areas: 
        "header header"
        "menuGaleria menuGaleria"
        "videos videos"
        "imagenes imagenes"
        "footer footer";
        gap: 20px;
    }
}

@media (min-width:1024px) {
    .gridPadreIndex {
        display: grid;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "carouselIndex carouselIndex carouselIndex"
        "seccionA seccionB seccionC"
        "footer footer footer";
        gap: 20px;
    }
    
    .gridPadreRanking{
        display: grid;
        grid-template-areas: 
        "header header"
        "nav nav"
        "rangos rangos"
        "jugadores equipos"
        "footer footer";
        gap: 50px;
        .rangos{
            margin-top: 1px;
        }
    }

    .gridPadreGaleria{
        display: grid;
        grid-template-areas: 
        "header header"
        "nav nav"
        "menuGaleria menuGaleria"
        "videos imagenes"
        "footer footer";
        gap: 20px;
    }
}